.navbar {
    color: white;
}
.navbar-custom {
    background-color: #B29F8F;
}
a {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
h1 {
    font-family: 'Euphoria Script', cursive;
}


h1, p {
    text-align: center;
    vertical-align: center;
}

p {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
.main {
    background-color: #DCA541;
    height: 600px;
}
body, html {
    height: 100%;
}
.bg { 
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  